In [13]:
# Cell 1 - setup
import requests
import pandas as pd
from IPython.display import display, Markdown

BASE_URL = "http://localhost:3000/api"  # change if needed

# Cell 2 - GET all employees
def get_all_employees():
    url = f"{BASE_URL}/employees"
    resp = requests.get(url, timeout=5)
    resp.raise_for_status()
    data = resp.json()
    # If your API returns {status, count, data}, adapt as needed
    if isinstance(data, dict) and "data" in data:
        records = data["data"]
    else:
        records = data
    df = pd.DataFrame(records)
    return df

In [14]:
get_all_employees()

,id,name,unit,attendance,years_of_service
0,1,Sandy Supriyono,Ho Network Specialist,bekerja,8
1,2,Mirpan Munandar,Ho Network Specialist,bekerja,9
2,3,Rhevo Ajjunda Rakhman,Branches Network Specialist,bekerja,1
3,4,Fitra Nopri Setiawan,Branches Network Specialist,cuti,9
4,5,Jufri Pramono,Echannels Network Specialist,bekerja,4
...,...,...,...,...,...
67,68,Anggito Anju Hartawan Manalu,Front End & Mobile App Specialist,bekerja,3
68,69,Avisenna Abimanyu,Digital Back End Specialist,cuti,10
69,70,Wahyu Dwinanto,Branch End Point Specialist,cuti,1
70,71,Kevin Vasco Aruji,Ho End Point Specialist,cuti,4
71,72,Muhammad Ivan Hanif Vidiansyah,Software End Point Specialist,cuti,4